.anim-container {
    margin: auto;
    width: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}
.anim-field {
    border: 1px solid black;
    border-radius: 10px;
    width: 800px;
    height: 400px;
    margin-bottom: 1rem;
    background-image: url('./image/football_background.jpg');
    background-size: cover;
}
.anim-ball {
    border-radius: 50%;
    border: 1px solid black;
    background-color: purple; 
    /*background-image: url('./image/Basketball.png');*/
    background-size: cover;
    width: 150px;
    height: 150px;
    position: relative;
    /* fWidth - bDiameter - 2fBorder */
    /*left: calc(800px - 150px - 2px);*/
    left: 0px;
    top:  0px;
    transform: rotate(90deg);
}
.anim-control {
    margin-top: 10px;
    /*border: 1px solid black; */
}