.home-container {
    border: 1px solid;
    height: 600px;
    text-align: center;
    background-image: url(./IMG_4023.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}