.carts-container {
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: auto;
  box-shadow: 0 0 0.25rem gray;
  text-align: center;
}

.carts-items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
  align-items: start;
}