body {
    font-family: 'Outfit', sans-serif;
    background-color: #adc5e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.cal-container {
    width: fit-content;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    background-color: #f4f4f4;
    margin: 50px auto;
    padding: 20px;
    border: 5px solid #222;
}
.cal-screen {
    width: 100%;
    height: 80px;
    background-color: #5a5353;
    color: #fff;
    text-align: right;
    font-size: 2.5em;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px 0px;
    border-radius: 5px;
    font-family: 'Bitcount Grid Double', monospace;
}

.cal-btn > .btn {
    font-size: 1.5em;
    border: 1px solid #ccc;
    background-color: #e0e0e0;
    cursor: pointer;
    width: 60px;
    height: 60px;
    margin: 7px 2px;
    border-radius: 5px;
}

.cal-btn > .btn-green {
    background-color: #4CAF50;
    color: white;
}

.cal-btn > .btn-red {
    background-color: #9157c7;
    color: white;
}

.cal-btn > .btn-blue {
    background-color: #008CBA;
    color: white;
}

.cal-btn > .btn-yellow {
    background-color: #ff9800;
    color: white;
}

.cal-btn > .btn-blue:hover {
    background-color: #ff9800;
}

.cal-btn > .btn-green:active {
    background-color: #ff9800;
}